.footer__column-link {
  display:flex;
  align-items: center;
  color:white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity ease-in 0.3s;
}

.footer__column-link:hover {
  opacity: 0.6;
}
