.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color:#2f80ed;
  position:absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity ease-in 0.3s;
}

.feynman__link:hover{
  opacity: 0.6;
}
