.cards__item{
  margin: 0 100px 0 0;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 240px;
}

.cards__item:nth-of-type(3) {
  margin:0;
}

.cards__item:last-of-type {
  margin:0;
}
