.logo {
  margin: 0;
  padding: 0;
  width: 183px;
  /*Ширина и была указана 183px для блока изначально...
  Комментарий не понял...Может имелась ввиду высота?
  А вот высота в брифе 1 разная...Для хэдера 32px, а для футера 35px...Поэтому высота и ушла в модификаторы*/
}
