.khan__buy-link {
  margin:0;
  height: 100%;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color:#2f80ed;
  text-decoration: none;
  transition: opacity ease-in 0.3s;
  border: solid 1px red;

}

.khan__buy-link:hover {
  opacity: 0.6;
}
